#box{
  background-color: white;
  padding: 25px;
}

#ttbox
{
	border: 1px;
	background-color: floralwhite;
	width: 75%;
	height:570px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaa inset;
	border-radius: 10px;
	position:relative;

}



#newbtn
{
	
	width: 100px;
	height:50x;

}

#popupbox
{
	background-color: red;
	border-radius: 15px;
	width: 25%;
	height:570px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaa inset;
	border-radius: 10px;
	position:relative;
	

}